@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans"), url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
}
.page {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  min-width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: 0 50px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .container {
    min-width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-weight: inherit;
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.button {
  display: block;
  box-sizing: border-box;
  height: 52px;
  width: 260px;
  padding: 16px 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
  background-color: #ffffff;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.page-header {
  position: relative;
}
.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 150px;
  height: 80px;
  margin: 0 auto;
  background-image: url("../img/mishka-logo-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (min-width: 768px) {
  .page-header__logo {
    top: 5px;
    left: 30px;
    margin: 0;
    background-image: url("../img/mishka-logo-tablet.svg");
  }
}
@media (min-width: 1150px) {
  .page-header__logo {
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../img/mishka-logo-desktop.svg");
  }
}
.page-header__logo:hover {
  opacity: 0.6;
}
.page-header__logo:active {
  opacity: 0.3;
}
.page-header__text {
  display: none;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .page-header__text {
    position: absolute;
    top: 70%;
    right: 50px;
    display: block;
  }
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .main-nav {
    flex-direction: column;
    align-items: center;
    padding-top: 81px;
  }
}
@media (min-width: 768px) {
  .main-nav {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    flex-direction: row;
  }
}
.main-nav__list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .main-nav__list {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
}
@media (min-width: 1150px) {
  .main-nav__list {
    width: 42%;
  }
}
@media (min-width: 768px) {
  .main-nav__list--site-list {
    justify-content: flex-start;
    padding-left: 35px;
    font-size: 15px;
    background-color: #F9F9F9;
  }
}
@media (min-width: 1150px) {
  .main-nav__list--site-list {
    padding-right: 75px;
    padding-left: 15px;
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .main-nav__list--user-list {
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.main-nav__list--additional-list {
  display: none;
}
@media (min-width: 1150px) {
  .main-nav__list--additional-list {
    display: flex;
    padding-left: 20px;
    font-size: 15px;
    background-color: #F9F9F9;
  }
}
.main-nav__item {
  position: relative;
  box-sizing: border-box;
  padding: 28px 30px 27px 76px;
  box-shadow: 0 1px 0 #ECECEC, inset 0 1px 0 #ECECEC;
}
@media (max-width: 767px) {
  .main-nav__item {
    flex-grow: 1;
  }
}
@media (min-width: 768px) {
  .main-nav__item--site-list {
    padding: 21px 20px 21px 15px;
    box-shadow: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__item--site-list {
    padding: 33px 35px 31px 35px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 768px) {
  .main-nav__item--user-list {
    padding: 33px 35px 31px 80px;
    width: 315px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__item--user-list {
    padding-left: 75px;
  }
}
@media (min-width: 768px) {
  .main-nav__item--search {
    width: 83px;
    padding: 0;
  }
  .main-nav__item--search .main-nav__search-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media (min-width: 1150px) {
  .main-nav__item--additional-list {
    padding: 20px 30px;
    box-shadow: none;
  }
}
.main-nav__link {
  color: #000000;
}
.main-nav__link .main-nav__svg {
  position: absolute;
  top: 30px;
  left: 31px;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .main-nav__link .main-nav__svg {
    top: 35px;
    left: 31px;
  }
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:hover .main-nav__svg {
  fill: #63d1bb;
  opacity: 1;
}
.main-nav__link:active {
  opacity: 0.3;
}
.main-nav__link:active .main-nav__svg {
  fill: #63d1bb;
}
.main-nav__toggle {
  display: none;
}
@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 26px;
    right: 28px;
    display: block;
    width: 25px;
    height: 25px;
    border: 0;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/menu.svg");
  }
  .main-nav__toggle--close {
    background-image: url("../img/menu-close.svg");
  }
}
.main-nav__toggle-signature {
  display: none;
}
.current-signature {
  display: block;
}
.page-main {
  display: grid;
  grid-gap: 30px;
}
@media (min-width: 768px) {
  .page-main {
    grid-gap: 40px;
  }
}
@media (min-width: 1150px) {
  .page-main {
    grid-gap: 50px;
  }
}
.page-main__title {
  margin: 0;
  padding: 0 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-main__title {
    padding: 0 50px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px;
  }
}
.page-main__title--index {
  padding-top: 70px;
  padding-bottom: 121px;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center -17px;
  background-size: 575px;
}
@media (min-width: 768px) {
  .page-main__title--index {
    padding-top: 90px;
    padding-bottom: 370px;
    background-position: center -65px;
    background-size: 1150px;
  }
}
@media (min-width: 1150px) {
  .page-main__title--index {
    padding-top: 92px;
    padding-bottom: 356px;
    background-position: center -60px;
    background-size: initial;
  }
}
.page-main__title--form {
  padding-top: 71px;
  padding-bottom: 74px;
  background-color: #F1F1F1;
}
@media (min-width: 768px) {
  .page-main__title--form {
    padding-top: 36px;
    padding-bottom: 85px;
    background-image: url("../img/zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 24px;
  }
}
@media (min-width: 1150px) {
  .page-main__title--form {
    padding-top: 40px;
    padding-bottom: 110px;
    background-size: 100% 34px;
  }
}
.page-main__title--catalog {
  padding-bottom: 103px;
}
@media (min-width: 768px) {
  .product-type {
    background-color: #F9F9F9;
  }
}
.product-type__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .product-type__list {
    padding: 0 50px;
    max-width: 910px;
  }
}
@media (min-width: 1150px) {
  .product-type__list {
    max-width: 1240px;
  }
}
@media (min-width: 768px) {
  .product-type__list::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("../img/zigzag-fill.svg");
    background-size: auto 24px;
    z-index: 1;
  }
}
@media (min-width: 1150px) {
  .product-type__list::after {
    background-size: auto 34px;
  }
}
.product-type__item {
  flex-grow: 1;
  min-width: 50%;
}
.product-type__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 24px 100px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .product-type__link {
    padding: 26px 100px 44px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .product-type__link {
    padding: 26px 100px 48px 37px;
    font-size: 20px;
    line-height: 31px;
  }
}
.product-type__link::before {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .product-type__link::before {
    top: 35px;
    right: 30px;
  }
}
@media (min-width: 1150px) {
  .product-type__link::before {
    top: 35px;
    right: 33px;
  }
}
.product-type__link:hover::before {
  opacity: 0.7;
}
.product-type__link:active::before {
  opacity: 0.3;
}
.product-type__link--toys {
  background-color: #56c3b2;
}
.product-type__link--toys::before {
  content: "";
  background-image: url("../img/toy.svg");
}
.product-type__link--toys:hover {
  background-color: #46C1AE;
}
.product-type__link--toys:active {
  background-color: #46C1AE;
}
.product-type__link--interior {
  background-color: #63d1bb;
}
.product-type__link--interior::before {
  content: "";
  background-image: url("../img/interior.svg");
}
.product-type__link--interior:hover {
  background-color: #59D5BC;
}
.product-type__link--interior:active {
  background-color: #59D5BC;
}
.main-suggestion {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  padding: 0 30px;
  padding-bottom: 43px;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 6px;
}
@media (min-width: 768px) {
  .main-suggestion {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    padding: 0 50px;
    padding-bottom: 68px;
    background-size: 100% 17px;
  }
}
@media (min-width: 1150px) {
  .main-suggestion {
    padding-bottom: 97px;
    background-size: auto 23px;
  }
}
.main-suggestion__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
@media (min-width: 768px) {
  .main-suggestion__title {
    position: absolute;
    top: 7px;
    right: 63px;
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__title {
    top: 72px;
    right: 0;
    left: 82px;
  }
}
.main-suggestion__name {
  margin: 0;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .main-suggestion__name {
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__name {
    grid-row-start: 1;
    margin-top: 64px;
    margin-bottom: 12px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}
.main-suggestion__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main-suggestion__text {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__text {
    padding-left: 175px;
    font-size: 17px;
    line-height: 30px;
  }
}
.main-suggestion__add-info {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  grid-row-gap: 7px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main-suggestion__add-info {
    margin-right: 40px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__add-info {
    margin-bottom: 80px;
    padding-left: 175px;
  }
}
.main-suggestion__add-info .main-suggestion__description {
  border-bottom: 1px solid #ECECEC;
}
.main-suggestion__add-info .main-suggestion__value {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 11px;
  border-bottom: 1px solid #ECECEC;
}
.main-suggestion__img {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .main-suggestion__img {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    width: 335px;
    height: 405px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__img {
    grid-row-start: 1;
    width: 525px;
    height: 640px;
    margin-top: 0;
    z-index: -1;
  }
}
.main-suggestion__price {
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-suggestion__price {
    margin-bottom: 15px;
    padding-left: 72px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__price {
    align-self: center;
    margin-bottom: 0;
    padding-left: 248px;
  }
}
.main-suggestion__button {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-suggestion__button {
    align-self: end;
    justify-self: start;
    width: 292px;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
  }
}
@media (min-width: 1150px) {
  .main-suggestion__button {
    margin-left: 175px;
  }
}
.about-us {
  padding-bottom: 27px;
}
@media (min-width: 768px) {
  .about-us {
    padding-top: 15px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1150px) {
  .about-us {
    padding-bottom: 39px;
  }
}
.about-us__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 30px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .about-us__title {
    margin-bottom: 15px;
    padding: 0 50px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about-us__title {
    margin-bottom: 14px;
    padding-left: 225px;
    font-size: 53px;
    line-height: 57px;
  }
}
.about-us__list {
  display: grid;
  grid-row-gap: 28px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .about-us__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 17px;
    padding: 0 30px;
  }
}
@media (min-width: 1150px) {
  .about-us__list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    padding: 0 208px;
    padding-right: 250px;
  }
}
.about-us__item {
  position: relative;
  padding: 0 30px;
  padding-top: 55px;
  font-size: 17px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .about-us__item {
    padding: 0 20px;
    padding-top: 83px;
    font-size: 20px;
    line-height: 22px;
  }
}
.about-us__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  width: 55px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .about-us__item::before {
    top: 26px;
    left: 18px;
  }
}
.about-us__item--flower::before {
  background-image: url("../img/icon-1.svg");
}
.about-us__item--ball::before {
  background-image: url("../img/icon-2.svg");
}
.about-us__item--money::before {
  background-image: url("../img/icon-3.svg");
}
.about-us__item--rocket::before {
  background-image: url("../img/icon-4.svg");
}
.about-us__item--heart::before {
  background-image: url("../img/icon-5.svg");
}
.about-us__item--gift::before {
  background-image: url("../img/icon-6.svg");
}
.reviews {
  position: relative;
  padding-bottom: 52px;
  background-image: url("../img/zigzag-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 6px;
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 84px;
    padding-bottom: 47px;
    background-image: url("../img/zigzag-line.svg"), url("../img/review.jpg");
    background-position: center bottom, top left;
    background-size: 100% 17px, auto;
  }
}
@media (min-width: 1150px) {
  .reviews {
    padding-top: 77px;
    padding-bottom: 50px;
    background-size: 100% 23px, auto;
    background-position: center bottom, top -10px left 50px;
  }
}
.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .reviews__title {
    margin-bottom: 37px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    margin-bottom: 37px;
    padding-left: 174px;
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews__list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .reviews__item {
    margin-bottom: 84px;
  }
}
@media (min-width: 1150px) {
  .reviews__item {
    margin-bottom: 136px;
  }
}
.slider__item {
  display: none;
}
.slider__item--current {
  display: block;
}
.reviews__text {
  margin: 0;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .reviews__text {
    margin-bottom: 61px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .reviews__text {
    margin-bottom: 43px;
    padding-right: 70px;
    padding-left: 174px;
  }
}
.reviews__author {
  font-style: normal;
}
@media (min-width: 768px) {
  .reviews__author {
    font-size: 18px;
  }
}
@media (min-width: 1150px) {
  .reviews__author {
    padding-left: 174px;
    font-size: 17px;
  }
}
.reviews__nickname {
  display: block;
  padding-top: 4px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 768px) {
  .reviews__nickname {
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .reviews__nickname {
    padding-left: 174px;
  }
}
.reviews__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .reviews__controls {
    position: absolute;
    bottom: 147px;
    right: 50px;
    width: 175px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .reviews__controls {
    bottom: 202px;
  }
}
.reviews__control-button {
  width: 50px;
  height: 26px;
  padding: 26px 64px;
  border: 1px solid #ECECEC;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}
.reviews__control-button:hover {
  opacity: 0.6;
}
.reviews__control-button:active {
  opacity: 0.3;
}
.reviews__control-button:focus {
  outline: none;
}
@media (min-width: 768px) {
  .reviews__control-button {
    padding: 0;
    border: 0;
  }
}
.reviews__control-button--back {
  background-image: url("../img/huge-arrow-left.svg");
}
.reviews__control-button--forward {
  background-image: url("../img/huge-arrow-right.svg");
}
.reviews__button {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .reviews__button {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 175px;
  }
}
.contacts {
  position: relative;
  padding-top: 8px;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 29px;
    padding-bottom: 42px;
  }
  .contacts::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 52px;
    width: 50px;
    height: 81px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/flag.svg");
  }
}
@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 19px 50px 106px 50px;
  }
  .contacts::after {
    top: 82px;
    left: 111px;
  }
}
.contacts__wrapper {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    padding-top: 80px;
    padding-left: 174px;
  }
}
.contacts__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__title {
    margin-bottom: 37px;
    font-size: 53px;
    line-height: 57px;
  }
}
.contacts__information {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 30px;
  margin: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__information {
    grid-template-columns: auto 1fr auto 1fr;
    margin-bottom: 48px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts__information {
    grid-template-columns: auto 1fr;
  }
}
.contacts__information .contacts__value {
  margin-left: 33px;
}
@media (min-width: 768px) {
  .contacts__information .contacts__value {
    margin-left: 25px;
  }
}
@media (min-width: 1150px) {
  .contacts__information .contacts__value {
    margin-left: 22px;
  }
}
.contacts__information .contacts__value .contacts__link {
  text-decoration: underline;
  text-underline-position: under;
  color: #444444;
  -webkit-text-decoration-color: #62D1BA;
          text-decoration-color: #62D1BA;
}
.contacts__information .contacts__value .contacts__link:hover {
  color: #46C1AE;
}
.contacts__information .contacts__value .contacts__link:active {
  text-decoration: none;
  /*очему то это свойство не работает, не могу понять в чем дело*/
}
.contacts__map {
  position: relative;
  margin-bottom: 42px;
  width: 100%;
  height: 454px;
  background-image: url("../img/map-pin.svg"), url("../img/map-tablet.png");
  background-repeat: no-repeat;
  background-position: 54% 145px, center;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 457px;
    margin-bottom: 55px;
    background-position: 51% 139px, center;
  }
}
@media (min-width: 1150px) {
  .contacts__map {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    height: 458px;
    margin: 0;
  }
}
.contacts__iframe-map {
  width: 100%;
  height: 100%;
  border: 0;
}
.contacts__button {
  width: 260px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contacts__button {
    width: 230px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1150px) {
  .contacts__button {
    margin: 0;
    margin-left: 175px;
    align-self: end;
  }
}
.page-footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  background-color: #F1F1F1;
}
@media (min-width: 768px) {
  .page-footer {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    padding: 0 50px;
    padding-top: 48px;
    padding-bottom: 55px;
  }
}
@media (max-width: 767px) {
  .page-footer__logo {
    display: none;
  }
}
.page-footer__svg:hover {
  fill: #46C1AE;
}
.page-footer__svg:active {
  opacity: 0.3;
}
.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0 34px;
  list-style: none;
}
@media (min-width: 768px) {
  .page-footer__social-list {
    padding: 0 105px;
  }
}
@media (min-width: 1150px) {
  .page-footer__social-list {
    padding: 0 295px;
  }
}
.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.page-footer__social-link .page-footer__svg:hover {
  fill: #46C1AE;
}
.page-footer__social-link .page-footer__svg:active {
  opacity: 0.3;
}
.page-footer__copyright {
  display: flex;
  align-items: center;
  padding: 23px 35px;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    justify-self: end;
    padding: 0;
    border: 0;
  }
}
.page-footer__copyright .page-footer__svg {
  margin-left: 25px;
  fill: #63d1bb;
}
@media (min-width: 768px) {
  .page-footer__copyright .page-footer__svg {
    margin-left: 27px;
  }
}
.page-footer__copyright:hover .page-footer__svg {
  fill: #46C1AE;
}
.page-footer__copyright:active .page-footer__svg {
  opacity: 0.3;
}
.products__list {
  display: grid;
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.products__info {
  position: relative;
  padding: 22px 27px 24px 27px;
  border: 1px solid #ECECEC;
}
.products__title {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}
.products__description {
  margin: 0;
  margin-bottom: 24px;
  padding-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 1px solid #ECECEC;
  color: #444444;
}
.products__price {
  margin: 0;
  font-size: 15px;
}
.products__button {
  position: absolute;
  bottom: 28px;
  right: 27px;
  width: 20px;
  height: 20px;
  border: 0;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.order-form {
  padding-bottom: 55px;
}
@media (min-width: 768px) {
  .order-form {
    position: relative;
    padding-bottom: 51px;
  }
}
@media (min-width: 1150px) {
  .order-form {
    padding-bottom: 46px;
  }
}
.order-form__main-title {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .order-form__main-title {
    margin-bottom: 55px;
  }
}
@media (min-width: 1150px) {
  .order-form__main-title {
    margin-bottom: 100px;
  }
}
.order-form__text-top {
  margin-bottom: 29px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .order-form__text-top {
    margin-bottom: 13px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .order-form__text-top {
    padding: 0 225px;
  }
}
.order-form__fieldset {
  margin: 0 30px;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  border-top: 1px solid #62D1BA;
}
@media (min-width: 768px) {
  .order-form__fieldset {
    position: relative;
    margin: 0;
    padding: 50px;
    padding-left: 220px;
    font-size: 19px;
    border: 0;
  }
}
@media (min-width: 1150px) {
  .order-form__fieldset {
    padding: 50px 225px;
  }
}
@media (max-width: 767px) {
  .order-form__fieldset--type {
    padding-bottom: 32px;
  }
}
.order-form__fieldset--type .order-form__type-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 11px;
}
@media (min-width: 768px) {
  .order-form__fieldset--type .order-form__type-wrapper {
    grid-row-gap: 27px;
  }
}
@media (max-width: 767px) {
  .order-form__fieldset--color {
    padding-bottom: 34px;
  }
}
@media (min-width: 768px) {
  .order-form__fieldset--color {
    background-color: #F1F1F1;
  }
}
@media (min-width: 1150px) {
  .order-form__fieldset--color {
    padding-right: 138px;
  }
}
.order-form__fieldset--color .order-form__color-wrapper {
  display: grid;
  grid-row-gap: 23px;
}
@media (min-width: 768px) {
  .order-form__fieldset--color .order-form__color-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 27px;
  }
}
@media (min-width: 1150px) {
  .order-form__fieldset--color .order-form__color-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
  }
}
@media (max-width: 767px) {
  .order-form__fieldset--name {
    padding-bottom: 34px;
  }
}
.order-form__fieldset--name .order-form__name-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 23px;
}
@media (min-width: 768px) {
  .order-form__fieldset--name .order-form__name-wrapper {
    grid-row-gap: 24px;
  }
}
.order-form__fieldset .order-form__contacts-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.order-form__fieldset .order-form__contacts-wrapper .order-form__svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .order-form__fieldset .order-form__contacts-wrapper .order-form__svg {
    right: 24px;
  }
}
@media (min-width: 1150px) {
  .order-form__fieldset .order-form__contacts-wrapper .order-form__svg {
    right: 7px;
  }
}
.order-form__fieldset .order-form__contacts-wrapper .order-form__input:hover + .order-form__svg {
  opacity: 1;
  fill: #62D1BA;
}
.order-form__fieldset--tel {
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  .order-form__fieldset--tel {
    padding-bottom: 9px;
    background-color: #F1F1F1;
  }
}
@media (max-width: 767px) {
  .order-form__fieldset--email {
    padding-bottom: 35px;
  }
}
@media (min-width: 768px) {
  .order-form__fieldset--email {
    padding-top: 15px;
    background-color: #F1F1F1;
  }
}
@media (max-width: 767px) {
  .order-form__fieldset--add {
    padding-bottom: 14px;
  }
}
.order-form__title {
  display: block;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
@media (min-width: 768px) {
  .order-form__title {
    position: absolute;
    top: 65px;
    left: 50px;
  }
}
@media (min-width: 1150px) {
  .order-form__title {
    left: 110px;
  }
}
.order-form__title--type {
  margin-bottom: 34px;
}
.order-form__title--color {
  margin-bottom: 25px;
}
.order-form__title--name {
  margin-bottom: 28px;
}
.order-form__title--tel {
  margin-bottom: 2px;
}
.order-form__title--email {
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .order-form__title--email {
    top: 32px;
  }
}
.order-form__title--add {
  margin-bottom: 22px;
}
.order-form__label {
  padding: 0;
}
.order-form__label--type-radio {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 20px;
}
@media (min-width: 768px) {
  .order-form__label--type-radio {
    grid-column-gap: 27px;
  }
}
.order-form__label--color-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column-gap: 23px;
}
@media (min-width: 768px) {
  .order-form__label--color-checkbox {
    grid-column-gap: 29px;
  }
}
.order-form__label--name {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .order-form__label--name {
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 22px;
  }
}
.order-form__label--add {
  width: 100%;
}
.order-form__input {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .order-form__input {
    font-size: 19px;
  }
}
.order-form__input--type-radio + .order-form__label--type-radio::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .order-form__input--type-radio + .order-form__label--type-radio::before {
    width: 50px;
    height: 50px;
  }
}
.order-form__input--type-radio + .order-form__label--type-radio:hover::before {
  border: 2px solid #62D1BA;
}
.order-form__input--type-radio + .order-form__label--type-radio:active::before {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.order-form__input--type-radio:checked + .order-form__label--type-radio::before {
  background-image: url("../img/center.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
@media (min-width: 768px) {
  .order-form__input--type-radio:checked + .order-form__label--type-radio::before {
    background-size: 22px 22px;
  }
}
.order-form__input--color-checkbox + .order-form__label--color-checkbox::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 2px solid #000000;
}
@media (min-width: 768px) {
  .order-form__input--color-checkbox + .order-form__label--color-checkbox::before {
    width: 50px;
    height: 50px;
  }
}
.order-form__input--color-checkbox + .order-form__label--color-checkbox:hover::before {
  border: 2px solid #62D1BA;
}
.order-form__input--color-checkbox + .order-form__label--color-checkbox:active::before {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.order-form__input--color-checkbox:checked + .order-form__label--color-checkbox::before {
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 16px;
}
@media (min-width: 768px) {
  .order-form__input--color-checkbox:checked + .order-form__label--color-checkbox::before {
    background-size: 31px 22px;
  }
}
.order-form__input--text {
  padding: 17px 10px 16px 0;
  border: 0;
  box-shadow: inset 0 -2px 0 -1px #000000;
  color: #444444;
}
@media (min-width: 768px) {
  .order-form__input--text {
    padding: 13px 10px 13px 17px;
  }
}
.order-form__input--text:hover {
  box-shadow: inset 0 -2px 0 #62D1BA;
}
.order-form__input--text:focus {
  outline: 0;
  box-shadow: inset 0 -2px 0 #62D1BA;
}
.order-form__input--text::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}
.order-form__input--text::placeholder {
  color: #000000;
  opacity: 0.3;
}
@media (max-width: 767px) {
  .order-form__input--tel {
    padding-bottom: 19px;
    padding-right: 45px;
  }
}
@media (min-width: 768px) {
  .order-form__input--tel {
    padding: 11px 70px 15px 15px;
    background-color: #F1F1F1;
  }
}
@media (max-width: 767px) {
  .order-form__input--email {
    padding-bottom: 19px;
    padding-right: 45px;
  }
}
@media (min-width: 768px) {
  .order-form__input--email {
    padding: 11px 70px 15px 15px;
    background-color: #F1F1F1;
  }
}
.order-form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  padding: 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #444444;
  border-bottom: 0;
  box-shadow: inset 0 -2px 0 #000000;
  color: #444444;
  resize: none;
}
@media (min-width: 768px) {
  .order-form__textarea {
    font-size: 19px;
  }
}
.order-form__textarea:hover {
  border: 2px solid #62D1BA;
  box-shadow: inset 0 -2px #62D1BA;
}
.order-form__textarea:focus {
  outline: 0;
  border: 2px solid #62D1BA;
  box-shadow: inset 0 -2px #62D1BA;
}
.order-form__textarea::-moz-placeholder {
  color: #000000;
  opacity: 0.3;
}
.order-form__textarea::placeholder {
  color: #000000;
  opacity: 0.3;
}
.order-form__text-bottom {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .order-form__text-bottom {
    position: absolute;
    bottom: 30px;
    right: 20px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .order-form__text-bottom {
    margin-right: 175px;
  }
}
.order-form__button {
  width: 260px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .order-form__button {
    width: 230px;
    margin: 0;
    margin-left: 50px;
  }
}
@media (min-width: 1150px) {
  .order-form__button {
    margin-left: 225px;
  }
}
.production-process {
  box-sizing: border-box;
  padding-top: 10px;
  border: 1px solid #ECECEC;
}
.production-process__title {
  margin-bottom: 26px;
  padding-left: 90px;
  padding-right: 18px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  background-image: url("../img/video.svg");
  background-repeat: no-repeat;
  background-position: 34px 13px;
}
.production-process__video {
  position: relative;
  margin-bottom: 30px;
}
.production-process__video-play {
  position: absolute;
  top: 37px;
  left: 80px;
  width: 100px;
  height: 77px;
  border: 0;
  border-radius: 20px;
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.production-process__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0 30px 0 34px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.production-process__button {
  margin: 0 33px 34px 33px;
}

/*# sourceMappingURL=style.css.map */
